<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <script type="text/javascript"
         src="{{ url_for('static', filename='main.js') }}"></script>
    <body>
        <header id="header">
            <div class="log_logo">
                {% if user %}
                    <a href="{{ url_for('log_out') }}"><button id="log_button" type="button">LOG OUT</button></a> 
                {% else %}
                    <a href="{{ url_for('log_in') }}"><button id="log_button" type="button">LOG IN</button></a> 
                {% endif %}
                <h1 id="logo">49er Note</h1>
            </div>
            <nav class="nav_bar">
                <ul>
                    <li><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('get_notes') }}"> My Notes</a></li>
                    <li><a href="{{ url_for('get_todos') }}"> Todo List</a></li>
                    <li><a href="{{ url_for('get_budget') }}"> Budget</a></li>
                </ul>
                <div>
                    <div id="parent_search">
                        <form id="form_search" action="{{ url_for('search') }}" method="post">
                            <input type="text" name="search" value=""/>
                            <input type="submit" value="Search for Note"/>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <h2 style="text-align: center;">Welcome {{user.name}} to the 49er Note App!</h2>

            {% block content %}{% endblock %}
        </main>
    </body>
</html>