{% extends "base.html" %}

{% block content %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if budget %}
       <h2>Essential budget items (per month)</h2>
        <form action="{{ url_for('update_budget') }}" method="post">
            <label>Total</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="subtotal" name="subtotal" value="{{budget.subtotal}}"><br><br>

            <label>Mortgage/Rent</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="housing" name="housing" value="{{budget.mortgage}}"><br>

            <label>Phone</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="phone" name="phone" value="{{budget.phone}}"><br>

            <label>Electricity</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="electricity" name="electricity" value="{{budget.electricity}}"><br>

            <label>Gas</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="gas" name="gas" value="{{budget.gas}}"><br>

            <label>Water</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="water" name="water" value="{{budget.water}}"><br>

            <label>Streaming</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="streaming" name="streaming" value="{{budget.streaming}}"><br>

            <label>Maintenance</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="maintenance" name="maintenance" value="{{budget.maintenance}}"><br>

            <label>Supplies</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="supplies" name="supplies" value="{{budget.supplies}}"><br>

            <label>Internet</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="internet" name="internet" value="{{budget.internet}}"><br>

            <label>Other</label><br>
            <input onchange="budget_field_check(this.value)" type="text" id="other" name="other" value="{{budget.other}}"><br>

            <p>Remaining: {{remaining}}<p/><br>

            <input type="submit" id="budget_submit" value="Update Budget"/>
        </form>
    {% else %}
        <p>Please log in</p>
    {% endif %}
{% endblock %}