{% extends "base.html" %}

{% block content %}
    <p>Use this site to maintain and organize your notes.</p>

    <h3>Everyone's Course notes:</h3>
        <table>
            <tr id="header_tr">
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td><a href="{{ url_for('get_note', note_id=note.id) }}">{{ note.title }}</a></td>
                <td>{{ note.date }}</td>
                {% if user and user.admin %}
                    <td>
                        <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock %}
