{% extends "base.html" %}

{% block content %}
	{% if note %}
		<form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
	{% else %}
	<form action="new" method="post">
	{% endif %}
		<p><label>Title </label></p>
		<p><input type="text" name="title"	value="{% if note %}{{note.title}} {% endif %}"/></p>
		<p><label>Note </label></p>
		<p>
			<textarea name="noteText" rows="6" cols="0">
				{% if note %}
					{{note.text}}
				{% else %}
					Add your new note here ...
				{% endif %}
				
			</textarea>
		</p>
		<p>
			{% if note %}
				<input type="submit" id="note_submit" value="Update Note"/>
			{% else %}
				<input type="submit" id="note_submit" value="Add Note"/>
			{% endif %}
		</p>
	</form>
{% endblock %}