{% extends "base.html" %}

{% block content %}
        <h2>Note details</h2>

        <p>Title: {{ note.title }}</p>
        <p>Date: {{ note.date }}</p>
        <p class="note">{{ note.text }}</p>

        {% if user %}
            <form class="comment" action="{{ url_for('add_comment', note_id=note.id) }}" method="post">
                <h3>Add a comment!</h3><br>
                <p>
                    <textarea name="commentText" rows="6" cols="0">Add comment...</textarea>
                </p>
                <p>
                    <input type="submit" value="Add comment"/>
                </p>
            </form>
        {% endif %}

        <h3>Comments:</h3>
        {% for comment in comments %}
            <tr>
                <p>{{ comment.comment }}</p>
                {% if user %}
                    {% if (user.email == comment.email) or user.admin %}
                        <form action="{{ url_for('delete_comment', comment_id=comment.id, note_id=note.id) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
{% endblock %}