{% extends "base.html" %}

{% block content %}
	{% if todo %}
		<form action="{{ url_for('edit_todo', todo_id=todo.id) }}" method="post">
	{% else %}
	    <form action="new" method="post">
	{% endif %}
		<p id="error_todo"></p>
		<h3>Todo</h3>
		<p>
            {% if todo %}
                <input name="description" required value="{{todo.description}}"/>
            {% else %}
                <input name="description" required value="Add your new todo here ..."/>
            {% endif %}
		</p>
		<p>
			{% if todo %}
				<input type="submit" id="submit_todo" value="Update Todo"/>
			{% else %}
				<input type="submit" id="submit_todo" value="Add Todo"/>
			{% endif %}
		</p>
	</form>
{% endblock %}